{% extends 'Layout/layout.html.twig' %} 
{% block title %}Quiz - Choix du thème {% endblock %} 
{% block content %}

<!-- set themes à supprimer quand la base de données sera fonctionnelle -->


<h1 class="theme">Choisir son thème !</h1>

<main class="themeselection">
<div class="containerThemes">
<div id="selectionThemes">
    {% for theme in themes %}
    <a href="/themeselected?id={{ theme.id }}">
        <div class="cardBox">
            <div class="card">
                <span class="text">{{theme.name}}</span>
                <div class="content">
                    <p>{{theme.description}}</p>
                </div>
            </div>
        </div></a
    >
    {% endfor %}
</div>
</div>

</main>

{% endblock %}
