{% extends 'Layout/layout.html.twig' %}

{% block content %}
    <h1>questions</h1>
    <ul>
        {% for question in questions %}
            <li><a href="/questions/show?id={{ question.id }}">{{ question.id }}. {{ question.value }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/questions/add">Ajouter</a>
{% endblock %}
